@import "tailwindcss";

:root {
  --color-brown: #A87154;
  --color-cream: #F1E5D1;
  --color-dark-brown: #4B2A19;
  --color-overlay: #3B1D0EE8;
}

@theme inline {
  --color-brown: var(--color-brown);
  --color-cream: var(--color-cream);
  --color-dark-brown: var(--color-dark-brown);
  --color-overlay: var(--color-overlay);
  --font-sans: var(--font-poppins);
}

body {
  margin: 0;
  background: #ffffff;
}
